
// $primary: #1976d2;
// $secondary: #26a69a;
// $accent: #9c27b0;

// $dark: #1d1d1d;
// $dark-page: #121212;

// $positive: #21ba45;
// $negative: #c10015;
// $info: #31ccec;
// $warning: #f2c037;





$primary   : #7c4dff;    
$accent    : #ffb74d;    

$dark      : #25252c;    
$dark-page : #25252c;    

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


